{% extends 'base.html' %}

{% block title %}
Mushroom Classification
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">mlflowPrediction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target='_blank' href="https://github.com/pranav-c01/Ineuron_internhip_proj.git">source code</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!-- nav bar ends -->

    <div class="container-fluid masthead">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <blockquote class="blockquote">
                                    <p class="mb-2">Enter the details as indicated:</p>
                                </blockquote>
                            </label>
                            <!-- Cap Shape -->
                            <label for="cap-shape">Cap Shape:</label>
                            <select name="cap-shape">
                            <option value="b">b</option>
                            <option value="c">c</option>
                            <option value="x">x</option>
                            <option value="f">f</option>
                            <option value="k">k</option>
                            <option value="s" selected>s</option>
                            </select>
                            <br><br>

                            <!-- Cap Surface -->
                            <label for="cap-surface">Cap Surface:</label>
                            <select name="cap-surface">
                            <option value="f">f</option>
                            <option value="g">g</option>
                            <option value="y">y</option>
                            <option value="s" selected>s</option>
                            </select>
                            <br><br>

                            <!-- Cap Color -->
                            <label for="cap-color">Cap Color:</label>
                            <select name="cap-color">
                            <option value="n">n</option>
                            <option value="b">b</option>
                            <option value="c">c</option>
                            <option value="g">g</option>
                            <option value="r">r</option>
                            <option value="p">p</option>
                            <option value="u">u</option>
                            <option value="e">e</option>
                            <option value="w">w</option>
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Bruises -->
                            <label for="bruises">Bruises:</label>
                            <select name="bruises">
                            <option value="t">t</option>
                            <option value="f" selected>f</option>
                            </select>
                            <br><br>

                            <!-- Odor -->
                            <label for="odor">Odor:</label>
                            <select name="odor">
                            <option value="a">almond</option>
                            <option value="l">anise</option>
                            <option value="c">creosote</option>
                            <option value="y">fishy</option>
                            <option value="f">foul</option>
                            <option value="m">musty</option>
                            <option value="n">none</option>
                            <option value="p">pungent</option>
                            <option value="s" selected>spicy</option>
                            </select>
                            <br><br>

                            <!-- Gill Attachment -->
                            <label for="gill-attachment">Gill Attachment:</label>
                            <select name="gill-attachment">
                            <option value="a">a</option>
                            <option value="d">d</option>
                            <option value="f" selected>f</option>
                            <option value="n">n</option>
                            </select>
                            <br><br>

                            <!-- Gill Spacing -->
                            <label for="gill-spacing">Gill Spacing:</label>
                            <select name="gill-spacing">
                            <option value="c">c</option>
                            <option value="w" selected>w</option>
                            <option value="d">d</option>
                            </select>
                            <br><br>

                            <!-- Gill Size -->
                            <label for="gill-size">Gill Size:</label>
                            <select name="gill-size">
                            <option value="b" selected>b</option>
                            <option value="n">n</option>
                            </select>
                            <br><br>

                            <!-- Gill Color -->
                            <label for="gill-color">Gill Color:</label>
                            <select name="gill-color">
                            <option value="k">k</option>
                            <option value="n">n</option>
                            <option value="b">b</option>
                            <option value="h">h</option>
                            <option value="g">g</option>
                            <option value="r">r</option>
                            <option value="o">o</option>
                            <option value="p">p</option>
                            <option value="u">u</option>
                            <option value="e">e</option>
                            <option value="w">w</option>
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Stalk Shape -->
                            <label for="stalk-shape">Stalk Shape:</label>
                            <select name="stalk-shape">
                            <option value="e">e</option>
                            <option value="t" selected>t</option>
                            </select>
                            <br><br>

                            <!-- Stalk Root -->
                            <label for="stalk-root">Stalk Root:</label>
                            <select name="stalk-root">
                            <option value="b">b</option>
                            <option value="c">c</option>
                            <option value="u">u</option>
                            <option value="e">e</option>
                            <option value="z">z</option>
                            <option value="?" selected>?</option>
                            </select>
                            <br><br>

                            <!-- Stalk Surface Above Ring -->
                            <label for="stalk-surface-above-ring">Stalk Surface Above Ring:</label>
                            <select name="stalk-surface-above-ring">
                            <option value="f">f</option>
                            <option value="y">y</option>
                            <option value="k">k</option>
                            <option value="s" selected>s</option>
                            </select>
                            <br><br>

                            <!-- Stalk Surface Below Ring -->
                            <label for="stalk-surface-below-ring">Stalk Surface Below Ring:</label>
                            <select name="stalk-surface-below-ring">
                            <option value="f">f</option>
                            <option value="y">y</option>
                            <option value="k">k</option>
                            <option value="s" selected>s</option>
                            </select>
                            <br><br>

                            <!-- Stalk Color Above Ring -->
                            <label for="stalk-color-above-ring">Stalk Color Above Ring:</label>
                            <select name="stalk-color-above-ring">
                            <option value="n">n</option>
                            <option value="b">b</option>
                            <option value="c">c</option>
                            <option value="g">g</option>
                            <option value="o">o</option>
                            <option value="p">p</option>
                            <option value="e">e</option>
                            <option value="w">w</option>
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Stalk Color Below Ring -->
                            <label for="stalk-color-below-ring">Stalk Color Below Ring:</label>
                            <select name="stalk-color-below-ring">
                            <option value="n">n</option>
                            <option value="b">b</option>
                            <option value="c">c</option>
                            <option value="g">g</option>
                            <option value="o">o</option>
                            <option value="p">p</option>
                            <option value="e">e</option>
                            <option value="w">w</option>  
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Veil Type -->
                            <label for="veil-type">Veil Type:</label>
                            <select name="veil-type">
                            <option value="p">p</option>
                            <option value="u" selected>u</option>
                            </select>
                            <br><br>

                            <!-- Veil Color -->
                            <label for="veil-color">Veil Color:</label>
                            <select name="veil-color">
                            <option value="n">n</option>
                            <option value="o">o</option>
                            <option value="w">w</option>
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Ring Number -->
                            <label for="ring-number">Ring Number:</label>
                            <select name="ring-number">
                            <option value="n">n</option>
                            <option value="o" selected>o</option>
                            <option value="t">t</option>
                            </select>
                            <br><br>

                            <!-- Ring Type -->
                            <label for="ring-type">Ring Type:</label>
                            <select name="ring-type">
                            <option value="c">c</option>
                            <option value="e">e</option>
                            <option value="f">f</option>
                            <option value="l">l</option>
                            <option value="n">n</option>
                            <option value="p">p</option>
                            <option value="s">s</option>
                            <option value="z" selected>z</option>
                            </select>
                            <br><br>

                            <!-- Spore Print Color -->
                            <label for="spore-print-color">Spore Print Color:</label>
                            <select name="spore-print-color">
                            <option value="k">k</option>
                            <option value="n">n</option>
                            <option value="b">b</option>
                            <option value="h">h</option>
                            <option value="r">r</option>
                            <option value="o">o</option>
                            <option value="u">u</option>
                            <option value="w">w</option>
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Population -->
                            <label for="population">Population:</label>
                            <select name="population">
                            <option value="a">a</option>
                            <option value="c">c</option>
                            <option value="n">n</option>
                            <option value="s">s</option>
                            <option value="v">v</option>
                            <option value="y" selected>y</option>
                            </select>
                            <br><br>

                            <!-- Habitat -->
                            <label for="habitat">Habitat:</label>
                            <select name="habitat">
                            <option value="g">g</option>
                            <option value="l">l</option>
                            <option value="m">m</option>
                            <option value="p">p</option>
                            <option value="u">u</option>
                            <option value="w" selected>w</option>
                            <option value="d">d</option>
                            </select>
                            <br><br>
                                

                        </div>

                        <!-- Select output language here. -->
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
                        </br>
                    </form>
                    <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="translation-result">

                                <blockquote class="blockquote">
                                    <p class="mb-2">Prediction:</p>
                                </blockquote>

                            </label>
                            <textarea readonly class="form-control" id="exTextarea" rows="5">{{ response }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock body %}

        {% block custom_js %}
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        {% endblock custom_js %}